<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ windFarm.name }}</mat-card-title>
    <mat-card-subtitle>{{ 'Identification number: '}} {{ windFarm.id }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/wind-farm-img.jpg" [alt]="windFarm.name">
  <mat-card-content>
    <p>
      <b>Active hours: </b>
      {{ windFarm.activeHoursStart }}
      {{ ' - ' }}
      {{ windFarm.activeHoursEnd }}
    </p>
    <p>
      <b>Power: </b>
      {{ windFarm.totalCapacity }}(MWh)
    </p>
  </mat-card-content>

  <mat-card-actions>
    <div fxFlex="100%" fxLayoutAlign="center center">
      <form name="workCapacity" [formGroup]="workCapacity" class="ml-8">
        <mat-form-field appearance="outline">
          <mat-label> {{ 'Work Capacity' }} </mat-label>
          <mat-select formControlName="workCapacity">
            <mat-option *ngFor="let item of workCapacityNumbers" [value]="item">
              {{ item }}%
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <div fxFlex fxLayoutAlign="center start">
        <button mat-raised-button color="primary" [disabled]="!workCapacity.touched" (click)="editWindFarm()">Save</button>
      </div>

    </div>
  </mat-card-actions>

</mat-card>
