<mat-card class="mt-16">
  <mat-card-title>Calculate Capacity Factor</mat-card-title>

  <mat-card-content>
    <!-- Form with a select and a date range -->
    <form [formGroup]="capacityFactorForm" class="mt-16">
      <mat-form-field appearance="outline">
        <mat-label> {{ 'Wind Farm' }} </mat-label>
        <mat-select formControlName="windFarm" multiple>
          <mat-option *ngFor="let item of windFarms" [value]="item">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="capacityFactorForm" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="!capacityFactorForm.valid" (click)="calculateCapacityFactor()">Calculate</button>
    </form>
  </mat-card-content>
</mat-card>
